#root > .container {
    display: flex;
    position: relative;
    overflow: hidden;
}

.UI_container {
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    z-index: 405;
    position: absolute;
    margin: 5px 30px;
    left: 0;
    bottom: 0;
    height: 100%;
}

.UI_container > div {
    pointer-events: all;
    margin: 0px 5px;
    flex-grow: 1;
    align-self: flex-end;
    white-space: nowrap;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 401;
    pointer-events:none;
}

.github-ribbon img {
    border: 0;
    pointer-events:all;
    -webkit-clip-path: polygon(10% 0, 38% 0, 100% 62%, 100% 90%);
    clip-path: polygon(10% 0, 38% 0, 100% 62%, 100% 90%);
}

.pickers {
    display: flex;
}