.sidebar {
    z-index: 1001;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    max-height: 100vh;
    width: 600px;
    background: linear-gradient(90deg, rgba(178, 188, 170, 0), rgba(114, 131, 113, 0.95) 2.5%, rgba(92, 107, 96, 0.95) 90%);
    color: #FFF;
    overflow-y: scroll;
    pointer-events: none;
}

.sidebar .container {
    padding: 20px;
}

.sidebar .container > * {
    pointer-events: all;
}

.sidebar.hidden {
    display: none;
}

.sidebar .closeBtn {
    width: 100%;
    margin-bottom: 50px;
}

.sidebar .closeBtn button {
    width: 100%;
    background-color: #88aaaa;
    color: #FFF;
    border: 1px solid #536f64;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.4em;
    cursor: pointer;
    user-select: none;
}

.sidebar .closeBtn button:hover {
    background-color: #628d8d;
}

.sidebar table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #536f64;
    border-radius: 10px;
    overflow: hidden;
}

.sidebar table td, .sidebar table th {
    padding: 8px;
}

.sidebar table tr.headers {
    background-color: #88aaaa;
}

.sidebar table tr.headers th {
    border-bottom: #696d6e 1px solid;
}

.sidebar table tr.mean {
    background-color: #648579;
}

.sidebar table tr.sensor {
    background-color: #8da082;
}

.sidebar table tr.sensor.selected {
    background-color: #58796d;
}

.sidebar table tr.selected {
    background-color: #7c8a72;
}

.sidebar table tr.selected:first-child td, .sidebar table tr.selected:last-child {
    border-bottom: #696d6e 1px solid;
}

.sidebar table tr.selected button {
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.sidebar table tr.sensor:hover {
    cursor: pointer;
    background-color: #446666;
}

.sidebar table th {
    font-size: 1.2em;
}

.sidebar a {
    color: #AA0;
}